// FONTS
$body: 'Montserrat', sans-serif;
$title: 'Cutive Mono', monospace;

// COLORS
$blue: #bfe3e1;
$green: #d2ffdb;
$yellow: #f0e7a9;
$salmon: #fbbebb;
$purple: #cab8d9;
$brown: #444444;
$gray: #d3d3d3;
$blueShadow: #a4cac9;
$purpleShadow: #a689bf;
$yellowShadow: #c7bd79;
$salmonShadow: #db9793;
$white: #ffffff;
$black: #000000;
$lightGray: #f1f1f1;

$transparent: rgba(0, 0, 0, 0);
$shadowColor: rgba(0, 0, 0, 0.12);
